{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis mt-n3">Ласкаво просимо до TechWorld</h1>
        <p class="fs-5 text-body-secondary mt-n2">У нашому магазині ви знайдете широкий асортимент найновішої електроніки та побутової техніки від провідних виробників. Від смартфонів та ноутбуків до побутових приладів та аксесуарів - У нас є все, що потрібно для сучасного життя.</p>
    </div>
    <div class="gallery-grid">
        <div class="gallery-item">
            <div class="grid-iteminner">
                <img src="static/img/asus 1.jpg" class="grid-itemimg"> <!-- виправлений клас для зображення -->
                <div class="grid-item__title"> <!-- додано контейнер для тексту з правильним класом -->
                    <span>ПК/Ноутбуки</span>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}