<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}TechWorld{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">TechWorld</div>
        <div class="search">
            <input type="text" placeholder="Пошук товарів">
            <button>Знайти</button>
        </div>
        <nav>
            <ul>
                <li><a href="#">Головна</a></li>
                <li><a href="#">Ввійти</a></li>
                <li><a href="#">Реєстрація</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <aside>
            <ul>
                <li><a href="#">Гаджети</a></li>
                <li><a href="#">Телевізори</a></li>
                <li><a href="#">Графічні планшети</a></li>
                <li><a href="#">Ігрові приставки</a></li>
                <li><a href="#">Ігрові маніпулятори</a></li>
                <li><a href="#">Планшети</a></li>
            </ul>
        </aside>

        <main>
            <div class="catalog-container">
                <div class="catalog-item">
                    <img src="image/tv.jpg" alt="TV + відеотехніка">
                    <p>TV + відеотехніка</p>
                </div>
                <div class="catalog-item">
                    <img src="image/monitor.jpg" alt="Монітори">
                    <p>Монітори</p>
                </div>
                <div class="catalog-item">
                    <img src="image/audio.jpg" alt="Аудіо-техніка">
                    <p>Аудіо-техніка</p>
                </div>
                <div class="catalog-item">
                    <img src="image/pc.jpg" alt="Персональні комп'ютери">
                    <p>Персональні комп'ютери</p>
                </div>
                <div class="catalog-item">
                    <img src="image/keyboard.jpg" alt="Клавіатури">
                    <p>Клавіатури</p>
                </div>
                <div class="catalog-item">
                    <img src="image/mouse.jpg" alt="Миші">
                    <p>Миші</p>
                </div>
                <div class="catalog-item">
                    <img src="image/headset.jpg" alt="Гарнітура">
                    <p>Гарнітура</p>
                </div>
            </div>
        </main>
    </div>
    
    <footer>
            <a href="about.html" class="button">Про нас</a>
    </footer>
</body>
</html>
