{% extends "base.html" %}

{% block title %}Товари{% endblock %}

{% block content %}

<div class="container">
    <div class="products">
        <div class="product_card">
            <a href="#">
                <div class="product_card_content">
                    <img class="product_img" src="https://via.placeholder.com/300x200">
                    <div class="product_card_text">
                        <h1>Name product</h1>
                        <p>description</p>
                    </div>
                </div>     
            </a>
        </div>
        
    </div>
</div>
{% endblock %}


